<section class="w-100 mt-5 px-5 d-flex justify-content-between">
  <div class="left-part">
    <h2 class="section-title">About Me</h2>
  </div>
  <div class="right-part w-75">
    <p class="lh-base" style="font-size: 1.1rem">
      Currently, I am an open-source applications developer at Information
      Technology Institute, where I am acquiring valuable technical and soft
      skills. I graduated from the Faculty of Engineering at Cairo University in
      2023 with a very good overall grade, and an A+ for my graduation project.
      During my time at university, I participated with my team in the NLP
      Competition at Nile University AI Hackathon to solve a Named Entity
      Recognition problem, and we achieved fourth place out of ten teams.
      Moreover, I participated in the _VOIS Vantage 2022 Competition - Egypt
      Track with two of my friends to solve real-life strategy case studies and
      achieved first place 🥇.
    </p>
    <button class="resume-btn mt-4">Download Resume</button>
  </div>
</section>
