<div class="task-container form-check d-flex w-100 justify-content-between">
  <div class="task">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="flexCheckDefault"
      [(ngModel)]="isChecked"
    />

    <label class="form-check-label" for="flexCheckDefault">
      <span
        [ngStyle]="{ 'text-decoration': isChecked ? 'line-through' : 'none' }"
      >
        {{ task }}</span
      >
    </label>
  </div>

  <button type="button" (click)="DeleteTask()">
    <i class="fa-solid fa-trash-can"></i>
  </button>
</div>

<!-- [ngStyle]="{ color: gameItem.onSale ? 'red' : 'blue' }" -->
