<div class="container">
  <h2 class="text-center mt-5 mb-5">Users List</h2>
  <form class="d-flex mb-5" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" />
    <button class="btn btn-outline-primary" type="submit">Search</button>
  </form>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div *ngFor="let singleUser of usersList" class="card h-100">
      <img [src]="singleUser.image" class="card-img-top" alt="..." />

      <div class="card-body text-center">
        <h5 class="card-title user-name d-inline-block">
          {{ singleUser.username }}
        </h5>

        <i
          class="fa-solid fa-star d-inline-block ml-2"
          [ngStyle]="{ color: singleUser.is_verified ? 'green' : 'red' }"
        ></i>

        <p class="card-text user-phone">{{ singleUser.phone }}</p>

        <p class="card-text user-email">{{ singleUser.email }}</p>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end row -->
</div>
<!-- end container -->
