<div class="container w-50">
  <form #gameForm="ngForm" (ngSubmit)="handleFormSubmit(gameForm)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="email"
        ngModel
        required
        #email="ngModel"
        pattern="[a-zA-Z0-9]{2,20}@(yahoo|gmail).com"
      />
      @if(email.invalid && email.touched){
      <div id="emailHelp" class="form-text text-danger">
        @if(email.errors?.['required']){
        <small>This field is required</small>
        } @if(email.errors?.['pattern']){
        <small
          >Invalid email format. Use a valid Yahoo or Gmail email
          address.</small
        >
        }
      </div>
      }
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        name="password"
        ngModel
        required
        #password="ngModel"
      />
      @if(email.invalid && email.touched){
      <div id="emailHelp" class="form-text text-danger">
        @if(email.errors?.['required']){
        <small>This field is required</small>
        }
      </div>
      }
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
  <p class="text-center">
    Don't have account ?
    <a routerLink="/sign-up" routerLinkActive="active-link">SignUp</a>
  </p>
</div>
